* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  font-size: 62.5%;
  --border-color: #30363d;
  --global-border: solid 0.01px var(--border-color);
  --border-radius: 7px;
  --font-size: 1.4rem;
  --font-color: #cbdae6;
  --font-family: sans-serif;
}

body {
  font-size: var(--font-size);
  background-color: #0a0e12;
}

header {
  background-color: #010409;
  /* 'box-shadow' adicionar sombras aos elementos. */
  box-shadow: 0px 1px var(--border-color);
}

/* Primeira div no header*/
.first {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.6rem;
}

/* Primeiro filho */
.one {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  color: var(--font-color)
}

/* button menu */
#menu {
  border: var(--global-border);
  border-radius: var(--border-radius);
  background-color: rgba(0, 0, 0, 0);
  padding: 1.0rem;
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* segundo filho */
.two {
  display: flex;
  align-items: center;
  gap: 1.0rem;
}

/* terceiro filho */
.three {
  display: flex;
  width: 35.0rem;
  padding: 5px;
  border: var(--global-border);
  border-radius: var(--border-radius);
}

#first-input:focus {
  outline: none;
}

#first-input {
  background-color: #00000000;
  border: none;
  color: white;
  padding: 0 5px;
}

/* procurar */
.search {
  border: none;
  cursor: pointer;
  padding: 3px;
  background-color: rgba(0, 0, 0, 0);/
}

.search img {
  width: 1.4rem;
  height: 100%;
}

.arrow {
  display: flex;
  justify-content: end !important;
  flex: 1;
}

/* barra de espaço */
.space-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* barra vertical */
.vertical-bar {
  color: var(--border-color);
  height: 19px;
}

.right-button {
  padding: 5px;
}

.right-button:hover {
  background-color: var(--border-color);
  border-radius: calc(var(--border-radius) - 3px);
  cursor: pointer;
}





.button:hover {
  background-color: var(--border-color);
  border-radius: var(--border-radius);
  cursor: pointer;
}

.button {
  background-color: black;
  border: var(--global-border);
  border-radius: var(--border-radius);
  padding: 1.0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.2rem;
}

.button div {
  display: flex;
  gap: 0.7rem;
}

.button img {
  width: 1.5rem;
}







/* display: none */














button {
  background-color: black;
  border: none;
  display: flex;
  align-items: center;

}

.foto img {
  width: 3.2rem;
  height: 100%;
  border-radius: 50%;
}








.space img {
  width: 1.6rem;
}





.space {
  display: flex;
}

li {
  padding: 0.5rem 0.2rem;

}

li:hover {
  background-color: var(--border-color);
  border-radius: calc(var(--border-radius) - 2px);
}

ul {
  display: flex;
  gap: 0.9rem;

  /* padding: 1.5rem 0; */

  list-style: none;
  color: white;
  text-decoration: none;
  font-size: var(--font-size);
}

li a {
  text-decoration: none;
  color: var(--font-color);
  display: flex;
  gap: 0.9rem;
  align-items: center;
  padding: 0 8px;
}



.second {

  /* padding: 0 1.6rem; */

  /* padding: 1.6rem - 0.5rem; */

  /* padding: 0.5rem 0.2rem; */
}


nav {
  padding: 0 1.5rem 1.3rem;
}



.main p {
  border: var(--global-border);
  color: #cbdae6;
}















/* color: #848d97; */







footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  font-size: 1.2rem;
  color: gray;
  padding: 6.4rem 1.6rem 4.0rem;
}

footer a {
  text-decoration: none;
  color: gray;
}


/* 
#min {
  width: rem;
} */