@media (max-width: 2500px) {
  .container {
    margin: 0 580px;
    padding: 0 32px;
  }

}

@media (max-width: 2251px) {
  .container {
    margin: 0 480px;
    padding: 0 32px;
  }
}

@media (max-width: 2077px) {
  .container {
    margin: 0 312px;
    /* padding: 0 32px; */
  }
}

@media (max-width: 1880px) {
  .container {
    margin: 0 303px;
    padding: 0 32px;
  }
}

@media (max-width: 1685px) {
  .container {
    margin: 0 202px;
    padding: 0 32px;
  }
}

@media (max-width: 1494px) {
  .container {
    margin: 0 107px;
    padding: 0 32px;
  }
}

@media (max-width: 1300px) {
  .container {
    margin: 0 10px;
    padding: 0 32px;
  }
}

@media (max-width: 1274px) {
  .container {
    padding: 0 32px;
  }

  .none-one {
    display: none;
  }
}

@media (max-width: 1074px) {
  .container {
    margin: 0;
    padding: 0 32px;
  }

  .none-two span,
  .none-two p {
    display: none !important;
  }
}

@media (max-width: 1011px) {
  .container {
    margin: 0;
    padding: 0 24px;
  }

  .three {
    display: none;
  }

  .main-input {
    display: none;
  }
}

@media (max-width: 962px) {
  .container {
    margin: 0;
    padding: 0 24px;
  }

  .none-three {
    display: none !important;
  }
}

@media (max-width: 859px) {
  .container {
    padding: 0 24px;
  }

  .none-four {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 16px;

  }

  .container-two,
  .container-right {
    width: 100%;
  }

  .teste {
    display: flex;
    flex-direction: column;
  }

  .space-block {
    display: flex;
    align-items: center;
  }

  .block-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

    footer {
      display: flex;
      flex-direction: column-reverse;
      gap: 0.8rem;
    }

  .footer-a {
    display:flex;
    flex-direction: row;
    gap: 1rem;
  }
}

@media (max-width: 749px) {
  .container {
    padding: 0 16px;
  }

  .none-five {
    display: none;
  }

}

/* @media (max-width: 676px) {
  .container {
    padding: 0 16px;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

 

  .footer-a {
    display: flex;
    flex-direction: row;
  }

  .space-a {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

} */