.container-right-one,
h2 {
  color: #FFFFFF;
  font-size: 1.6rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
}

.img-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1.6rem 0;
}

.img-link a {
  color: var(--link-color);
  font-weight: bold;
}

.img-link a:hover {
  text-decoration: underline;
}

.link {
  padding-bottom: 1rem;
  border-bottom: var(--global-border);
  width: 25%;
}

.link a span {
  font-weight: bold;
}

.link a {
  text-decoration: none;
  color: var(--color);
  font-size: 1.4rem;
  display: flex;
  gap: 1rem;
  margin-bottom: 0.8rem;
}

.link a:hover {
  color: var(--link-color);
}

.containers-right {
  padding: 1.6rem 0;
  border-bottom: var(--global-border);
  width: 25%;
}

.containers-right p {
  color: var(--color);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.containers-right p a {
  color: var(--link-color);
  text-decoration: underline;
}

.title a {
  color: #FFFFFF;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1.6rem;
}

.title a:hover {
  color: var(--link-color);
}

.h2-span {
  display: flex;
  align-items: center;
}

.h2-span span {
  margin-left: 0.8rem;
  padding: 0.3rem 0.6rem;
  background-color: #6e768166;
  border-radius: 50%;
  font-size: 1.4rem;
  font-weight: normal;
}

.img-title {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.6rem;
}

.img-title h1 {
  color: #FFFFFF;
  font-size: 1.4rem;
}

.img-title span {
  color: var(--color);
  margin-left: 0.3rem;
  font-weight: normal;
}

