main {
  color: white;
}

.main p {
  border: var(--global-border);
  color: var(--color-one);
}

td a {
  color: gray;
  text-decoration: none;
}

td a:hover {
  color: var(--link-color);
  text-decoration: underline;
}

main {
  margin: 0 3.5rem;
  padding: 0 3.2rem;
}

.main-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--global-border);


  /* box-sizing: border-box; */

}

.user-main {
  display: flex;
  align-items: center;
  padding: 1.6rem 0 1.6rem 0;
  gap: 1.0rem;
}

.user-main img {
  width: 2.4rem;
  border-radius: 50%;
}

h1 a {
  font-size: 2.0rem;
  color: var(--color-one);
  text-decoration: none;
}

h1 a:hover {
  text-decoration: underline;
}

.user-main p {
  color: var(--color);
  border: var(--global-border);
  border-radius: 2.0rem;
  padding: 0.1rem 0.75rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
}



/* .main-two {
  border: 1px red solid;
  display: flex;
  align-items: center;
} */




/* .button-main button {
  display: flex;
  align-items: center;
  border: var(--global-border);
  padding: 3px 12px;
  gap: 0.8rem;
}



.main-two {
  display: flex;
  
  /* border: 1px red solid; */


.button-main button {
  border: var(--global-border);
  background-color: #21262d;
  color: #c9d1d9;
  gap: 0.8rem;
  border-radius: var(--border-radius);
  padding: 3px 12px;
  font-size: 1.2rem;
  cursor: pointer;
}

.button-main button:hover {
  background-color: #292e36;
}

.button-left:disabled, .button-left:disabled:hover {
  color: var(--color);
  background-color: #21262d;
  cursor: default;
}


.button-together button {
  border: var(--global-border);
  background-color: #21262d;
  display: flex;
  align-items: center;
  color: #c9d1d9;
  gap: 0.8rem;
  /* border-radius: var(--border-radius); */
  padding: 4px 8px;
  font-size: 1.2rem;
  cursor: pointer;
}

.button-together button:hover {
  background-color: #292e36;
}

.button-together {
  display: flex;
  padding: 1px 0 1px 7px;
  font-size: 1.2rem;
}



.button-right {
  border-bottom-right-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.button-left {
  border-bottom-left-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}

.main-one span {
  padding: 6px;
  background-color: #30363d;
}

.main-two {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.button-main {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}


.main-two span {
  padding: 2px;
  border-radius: var(--border-radius);
  border: white;
}


/* <div class="border-bottom  mx-xl-5 "></div> */




/* .user {
  width: 16px;
  border-radius: 50%;

} */