.table-container tr {
  border-top: var(--global-border);
  border-radius: var(--border-radius);
  border-collapse: collapse;
  width: 100%;
}


.table-container{
  border: 0.1px solid var(--border-color);
  border-radius: var(--border-radius);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td {
  padding: 1.2rem 1.6rem;
  /* text-align: center; */
}

.container-one {
  width: 100%;
}

.container-two {
  width: 75%;
  margin-bottom: 1.6rem;
}

.td-start {
  display: flex;
  text-align: center;
  gap: 1.0rem;
  color: var(--color-one);
}

.td-start p:hover {
  color: var(--link-color);
  text-decoration: underline;
  cursor: pointer;
}

.table-container tr:hover {
  background-color: #161B22;
}

.td-center a:hover {
  color: var(--link-color);
  text-decoration: underline
}


.td-end {
  text-align: end;
  color: var(--color);
}


/* tabela 2 */

.header-table {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: var(--global-border); */
  border-radius: 7px 7px 0 0;
  background-color: #161B22;
  padding: 0.9rem;
  /* border-bottom: none; */
}

.group-one-header {
  display: flex;
  gap: 0.8rem;
}

.user-table {
  width: 2.0rem;
  border-radius: 50%;
}

.group-one-header img {
  padding: 0.6rem;
  cursor: pointer;
}

#certo:hover {
  background-color: #0d1117;
  border-radius: var(--border-radius);
}

.group-one-header p span a {
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
}

.group-one-header p span a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

.group-one-header p a {
  text-decoration: none;
}

.group-one-header p a:hover {
  color: var(--link-color);
  text-decoration: underline;
}

p {
  display: flex;
  align-items: center;
}





.group-two-header {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.2rem;
}

.group-two-header p,
a {
  color: var(--color);
  text-decoration: none;
}

.group-two-header a:hover {
  color: var(--link-color);
  text-decoration: underline;
}

.group-two-header button {
  color: #FFFFFF;
  gap: 0.5rem;
  padding: 7px 8px;
  margin: 0 2px;
}

.group-two-header button:hover {
  background-color: var(--background-button);
  border-radius: calc(var(--border-radius) - 2px);
}

/* #ponto {
  width: 1px;
} */





.tables-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}


/* .table-container tr {
  border-top: var(--global-border);
  border-radius: var(--border-radius);
  border-collapse: collapse;
  width: 100%;
}


.table-container{
  border: 0.1px solid var(--border-color);
  border-radius: var(--border-radius);
} */



.readme-container {
  border: var(--global-border);
  border-radius: var(--border-radius);
}

.table-two-button {
border-bottom: var(--global-border);
padding: 0.7rem;
}

.table-two-button button{
  padding: 0.6rem 0.8rem;
  color: #FFFFFF;
  gap: 0.9rem;
  align-items: center;
}

.table-two-button button:hover {
  background-color: var(--background-button);
  border-radius: calc(var(--border-radius));
  cursor: pointer;
}

.table-two-button button span {
  font-weight: bold;
}


.table-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  padding: 3.2rem 1.6rem;
}

.wiki {
  width: 3.2rem;
  align-items: center;
}

.table-three h1 {
  margin-top: 1.0rem;
  font-size: 2.4rem;
}

.table-three p {
  color: var(--color);
  font-size: 1.2rem;
  margin-bottom: 3.2rem;
}

.table-three button{
  color: #FFFFFF;
  border: 1px solid #238636;
  background-color: #238636;
  border-radius: calc(var(--border-radius) - 2px);
  padding: 0.8rem 1.2rem;
}

.table-three button:hover {
  background-color: #3dbb56b6;
  cursor: pointer;
}

